# Database
visa_slots.db

# Envronment file
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/


# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Polling state
.last_poll

# Logs
*.log
