# Database Configuration
DATABASE_NAME=visa_slots.db

# API Configuration
API_BASE_URL=https://app.checkvisaslots.com/slots/v3
API_USER_AGENT=Mozilla/5.0
API_KEY_1=
API_KEY_2=
API_KEY_3=


# Notification Configuration
NTFY_BASE_URL=https://ntfy.sh
NTFY_TOPIC_VAC=
NTFY_TOPIC_INTERVIEW=
NTFY_TOPIC_SESSION=
NTFY_CLICK_URL=https://www.usvisascheduling.com

# Priority Configuration
PRIORITY_VAC=1
PRIORITY_INTERVIEW=1
PRIORITY_SESSION=5

# Target Configuration
TARGET_DAYS_AHEAD=10

# Polling Configuration
POLLING_RESET_TIME=10:00
POLLING_MAX_DAILY_POLLS=720
POLLING_MIN_INTERVAL_SECONDS=100
POLLING_MAX_INTERVAL_SECONDS=1800
POLLING_CRITICAL_THRESHOLD=24
